ilw-header-megamenu-section[linked] a[slot="link"] {
   all: initial;
   box-sizing: border-box;
   height: 100%;
   display: flex;
   align-items: center;
   text-indent: var(--ilw-header-megamenu-section--anchor--text-indent);
   position: relative;
   font: var(--ilw-header-megamenu--font);
   background: var(--ilw-header-megamenu--link-background);
   color: var(--ilw-header-megamenu--link-color);
   outline: 0;
   cursor: pointer;
   padding: 9px 2px 6px 20px;
   border-width: 0 0 3px 0;
   border-style: solid;
   border-color: transparent;
   border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight);
   border-left: var(--ilw-header-megamenu--link-border-left-highlight);



   &:hover {
       background: var(--ilw-header-megamenu--link-background--hover);
       border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--hover);
       color: var(--ilw-header-megamenu--link-color--hover);
       text-decoration: underline;
   }
 
   &:focus {
     background: var(--ilw-header-megamenu--link-background--focus);
     border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--focus);
     color: var(--ilw-header-megamenu--link-color--focus);
   }
}

ilw-header-megamenu-section[linked][aria-current="page"] a[slot="link"] {
    border-color: var(--il-blue);

    &:hover {
        border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--hover);
    }
  
    &:focus {
        border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--focus);
        color: var(--ilw-header-megamenu--link-color--focus)
    }
}

ilw-header-megamenu-section {
   

    img{
        margin: 36px;
        object-fit: cover;
        border-radius: 30px;
        width: calc(100% - 72px);
        height: auto;
    }

     span[slot="action-right"], span[slot="action-left"]{
        position: relative;
    }

    span[slot="action-right"]:has(p + button) img, span[slot="action-left"]:has(p + button) img  {
        display: block;       
        position: absolute;   
        top: 0;
        left: 0;          
        margin: 36px; 
        height: calc(100% - 72px);      
        width: calc(100% - 72px);        
        object-fit: cover;
    }

    span[slot="action-right"] p:first-of-type, span[slot="action-left"] p:first-of-type  {
        display: block;
        position: absolute;
        top: 50%;             
        left: 50%;           
        transform: translate(-50%, -50%); 
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        color: var(--il-blue);
        font-family: "Source Sans", sans-serif;
        margin-top: -30px;
        width: 50%;
        z-index: 1;
        
    }

    span[slot="action-right"] button:first-of-type, span[slot="action-left"] button:first-of-type  {
        display: block;
        position: absolute;
        top: 50%;             
        left: 50%;           
        transform: translate(-50%, -50%); 
        z-index: 1;
        margin-top: 30px;
    }

    
    
    ul{
       
        list-style: none;
        margin: 30px 0;
        padding-left: 0;
        border-right: solid 2px var(--il-storm-85, #d5d3d3); 
      
        li {
            list-style: none;
            padding-left: 30px;
    
            span {
                display: inline-block;
                text-indent: var(--ilw-header-megamenu-section--anchor--text-indent);
            }

            ul{
                display: inherit;
                margin: 0;
                border: none;

                a{
                    font-weight: normal;
                }
            }

    ul:nth-of-type(4n) {
        border-right: none !important;
    }
            

            a {
                --ilw-header-megamenu--link-border-left-highlight: 4px solid transparent;
                --ilw-header-megamenu--link-border-left-highlight--hover: 4px solid var(--il-orange);
                --ilw-header-megamenu--link-border-left-highlight--focus: 4px solid var(--il-blue);
                --ilw-header-megamenu--link-color--focus: var(--il-blue);
                --ilw-header-megamenu--link-border-bottom-highlight: 4px solid transparent;;
                --ilw-header-megamenu--link-border-bottom-highlight--focus: initial;
                --ilw-header-megamenu--link-border-bottom-highlight--hover: 4px solid transparent;;
            
                all: initial;
                box-sizing: border-box;
                text-indent: var(--ilw-header-megamenu-section--anchor--text-indent);
                display: block;
                position: relative;
                padding: var(--ilw-header-megamenu-section--anchor--padding);
                font: var(--ilw-header-megamenu--font);
                font-weight: bold;
                background: transparent;
                color: var(--ilw-header-megamenu--link-color);
                outline: 0;
                cursor: pointer;
                border-top: var(--ilw-header-megamenu-section--anchor--border);
                /* border-left: var(--ilw-header-megamenu--link-border-left-highlight); */
                border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight);


                &:hover {
                    background: var(--ilw-header-megamenu--link-background--hover);
                    border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--hover);
                    color: var(--ilw-header-megamenu--link-color--hover);
                    text-decoration: underline;
                }
              
                &:focus {
                  background: var(--ilw-header-megamenu--link-background--sub--focus);
                  border-bottom: var(--ilw-header-megamenu--link-border-left-highlight--focus);
                  color: var(--ilw-header-megamenu--link-color--focus);
                }

            }
        }
    }   

}


ilw-header-megamenu-section:has(span[slot="action-right"] + span[slot="action-left"]) span[slot="action-right"] {
        display: none;
    }

ilw-header-megamenu-section {
    ilw-header-megamenu-section {
        --ilw-header-megamenu--items--top: 0;
        --ilw-header-megamenu--items--left: 250px;
        --ilw-header-megamenu--link-border-left-highlight: 4px solid transparent;
        --ilw-header-megamenu--link-border-left-highlight--hover: 4px solid var(--il-orange);
        --ilw-header-megamenu--link-border-left-highlight--focus: 4px solid var(--il-blue);
        --ilw-header-megamenu--link-border-bottom-highlight: initial;
        --ilw-header-megamenu--link-border-bottom-highlight--hover: initial;
        --ilw-header-megamenu--link-border-bottom-highlight--focus: initial;
        --ilw-header-megamenu--grid-template-columns: auto 55px;
        --ilw-header-megamenu-section--transform: rotate(270deg);
        --ilw-header-megamenu-section--transform--selected: rotate(90deg);
    }
}

ilw-header-megamenu[compact] ilw-header-megamenu-section {
    display: block;
    border-bottom: 1px solid var(--il-storm-lighter-3);

            a {              
                &:focus {
                  background: var(--ilw-header-megamenu--link-background--sub--focus);
                  border-left: var(--ilw-header-megamenu--link-border-left-highlight--focus);
                  color: var(--ilw-header-megamenu--link-color--focus);
                }
            }

    span[slot="action-left"] {
        display: block;
        min-height: 250px;
    }


    img{
        display: none;
    }

    div { 
        display: block;
    }

        
    ul{
        display:inherit;
        padding: 0;
        margin: 0;
    }
    ul li {
        --ilw-header-megamenu-section--anchor--text-indent: 20px;
        border-top: 1px solid var(--il-storm-lighter-3);
        background: var(--il-storm-lighter-4);
        padding-left: 0;


        a {     
            border-left: var(--ilw-header-megamenu--link-border-left-highlight);
            border-bottom: none;
            
                &:focus {
                  background: var(--ilw-header-megamenu--link-background--sub--focus);
                  border-left: var(--ilw-header-megamenu--link-border-left-highlight--focus);
                  border-bottom: none;
                  color: var(--ilw-header-megamenu--link-color--focus);
                }
            }

    }
    ul li ul li a{
         padding-left: 45px;
    }

}


ilw-header-megamenu[compact] ilw-header-megamenu-section ilw-header-megamenu-section {
    border-bottom: none;
    --ilw-header-megamenu-section--transform: none;
    --ilw-header-megamenu-section--transform--selected: rotate(180deg);
    --ilw-header-megamenu--grid-template-columns: auto 51px;

    ul a, ul button {
        --ilw-header-megamenu-section--anchor--text-indent: 40px;
    }
}

ul > img, li > img, ul li:nth-child(n+21){
    display: none
}

.no-border{
    border:none;
}