ilw-header-megamenu-section[linked] a[slot="link"] {
   all: initial;
   box-sizing: border-box;
   height: 100%;
   display: flex;
   align-items: center;
   text-indent: var(--ilw-header-megamenu-section--anchor--text-indent);
   position: relative;
   font: var(--ilw-header-megamenu--font);
   background: var(--ilw-header-megamenu--link-background);
   color: var(--ilw-header-megamenu--link-color);
   outline: 0;
   cursor: pointer;
   padding: 9px 2px 6px 20px;
   border-width: 0 0 3px 0;
   border-style: solid;
   border-color: transparent;
   border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight);

   &:hover {
       background: var(--ilw-header-megamenu--link-background--hover);
       border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--hover);
       color: var(--ilw-header-megamenu--link-color--hover);
       text-decoration: underline;
   }
 
   &:focus {
     background: var(--ilw-header-megamenu--link-background--focus);
     border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--focus);
   }
}

ilw-header-megamenu-section[linked][aria-current="page"] a[slot="link"] {
    border-color: var(--il-blue);

    &:hover {
        border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--hover);
    }
  
    &:focus {
        border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--focus);
    }
}

ilw-header-megamenu-section {

    
      
  img{
        margin: 30px;
        object-fit: cover;
        width: 90%;
        height: auto;
        border-radius: 30px;
        grid-column: 4;
        justify-self: right;
    }
  
    img.span-2, span[slot="action"].span-2{
        grid-column: 3 / span 2;
    }
     img.span-3, span[slot="action"].span-3{
        grid-column: 2 / span 3;
    }

    img.align-left, span[slot="action"].align-left{
        grid-column: 1;
        justify-self: left;
    }
    img.span-2.align-left, span[slot="action"].span-2.align-left{
        grid-column: 1 / span 2;
                justify-self: left;

    }
    img.span-3.align-left, span[slot="action"].span-3.align-left{
        grid-column: 1 / span 3;
                justify-self: left;

    }

    span[slot="action"] {
        margin: auto;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    span[slot="action"] * {
    display: none;
    }

    span[slot="action"] button:first-of-type {
        display: block;
        position: relative;
        z-index: 1;
        margin:0 auto;
    }

    span[slot="action"] p:first-of-type {
    display: block;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: var(--il-blue);
    font-family: "Source Sans", sans-serif;
    position: relative;
    z-index: 1;
    }

    span[slot="action"] img:first-of-type {
        display: block;       
        position: absolute;   
        top: 0;
        left: 0;
        width: 100%;          
        height: 85%;        
        object-fit: cover;    
        z-index: 0;   
        margin: 30px 0; 
    }

    span[slot="action"].span-2 img:first-of-type, span[slot="action"].span-3 img:first-of-type {
        width: 90%;          
        margin: 30px; 
    }



    
    ul {
       
        list-style: none;
        margin: 30px 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 320px));
        grid-template-rows: repeat(5, 34px);
        grid-auto-flow: column;
        max-width: 100vw;

      


        li {
            list-style: none;
            padding-left: 30px;
    

            span {
                display: inline-block;
                text-indent: var(--ilw-header-megamenu-section--anchor--text-indent);
            }

            ul{
                display: inherit;

                a{
                    font-weight: normal;
                }
            }
            

            a {
                --ilw-header-megamenu--link-border-left-highlight: 4px solid transparent;
                --ilw-header-megamenu--link-border-left-highlight--hover: 4px solid var(--il-orange);
                --ilw-header-megamenu--link-border-left-highlight--focus: 4px solid var(--il-blue);
                --ilw-header-megamenu--link-border-bottom-highlight: initial;
                --ilw-header-megamenu--link-border-bottom-highlight--focus: initial;
                --ilw-header-megamenu--link-border-bottom-highlight--hover: initial;
            
                all: initial;
                box-sizing: border-box;
                text-indent: var(--ilw-header-megamenu-section--anchor--text-indent);
                display: block;
                position: relative;
                padding: var(--ilw-header-megamenu-section--anchor--padding);
                font: var(--ilw-header-megamenu--font);
                font-weight: bold;
                background: transparent;
                color: var(--il-blue);
                outline: 0;
                cursor: pointer;
                border-top: var(--ilw-header-megamenu-section--anchor--border);
                /* border-left: var(--ilw-header-megamenu--link-border-left-highlight); */
                border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight);


                &:hover {
                    background: var(--ilw-header-megamenu--link-background--hover);
                    border-bottom: var(--ilw-header-megamenu--link-border-bottom-highlight--hover);
                    color: var(--ilw-header-megamenu--link-color--hover);
                    text-decoration: underline;
                }
              
                &:focus {
                  background: var(--ilw-header-megamenu--link-background--sub--focus);
                  border-bottom: var(--ilw-header-megamenu--link-border-left-highlight--focus);
                }
            }
        }
    }   


        div ul:nth-child(n + 5), div img:nth-child(n + 5), div span:nth-child(n + 5),  > ul > li > ul{
            display: none;
        }

      div{
        display: grid;
        grid-template-columns: repeat(4, minmax(0,320px));
        max-width: 100vw;
        grid-auto-flow: column;

        
        
         ul{
            border-left: solid 2px var(--il-storm-85, #d5d3d3);
         }
            ul:first-child{
            border: none;
         }
         

         

        ul{
            display: block;
        
            li {
                border-right: none;                        

                ul{
                    margin-top: 0;
                    margin-bottom: 0;
                    border: none;

                    li{
                        border-right: none;                        
                    }
                }     
            }
            
        }
    }

}




ilw-header-megamenu-section {
    ilw-header-megamenu-section {
        --ilw-header-megamenu--items--top: 0;
        --ilw-header-megamenu--items--left: 250px;
        --ilw-header-megamenu--link-border-left-highlight: 4px solid transparent;
        --ilw-header-megamenu--link-border-left-highlight--hover: 4px solid var(--il-orange);
        --ilw-header-megamenu--link-border-left-highlight--focus: 4px solid var(--il-blue);
        --ilw-header-megamenu--link-border-bottom-highlight: initial;
        --ilw-header-megamenu--link-border-bottom-highlight--hover: initial;
        --ilw-header-megamenu--link-border-bottom-highlight--focus: initial;
        --ilw-header-megamenu--grid-template-columns: auto 55px;
        --ilw-header-megamenu-section--transform: rotate(270deg);
        --ilw-header-megamenu-section--transform--selected: rotate(90deg);
    }
}

ilw-header-megamenu[compact] ilw-header-megamenu-section {
    display: block;
    border-bottom: 1px solid var(--il-storm-lighter-3);
            a {              
                &:focus {
                  background: var(--ilw-header-megamenu--link-background--sub--focus);
                  border-left: var(--ilw-header-megamenu--link-border-left-highlight--focus);
                }
            }
    span[slot="action"]{
            grid-column: auto;
            height: auto;
    }
    span[slot="action"] button{
        margin-bottom: 20px;
    }
    
    span[slot="action"].span-3 img, span[slot="action"].span-2 img, span[slot="action"] img {
        margin: auto 0;
        width: 100%;
        height: 100%;
    }

    img{
        display: none;
    }

    div { 
        display: block;
    }

        
    ul{
        display:inherit;
        padding: 0;
        margin: 0;
    }
    ul li {
        --ilw-header-megamenu-section--anchor--text-indent: 20px;
        border-top: 1px solid var(--il-storm-lighter-3);
        background: var(--il-storm-lighter-4);
        padding-left: 0;


        a {     
            
            
                &:focus {
                  background: var(--ilw-header-megamenu--link-background--sub--focus);
                  border-left: var(--ilw-header-megamenu--link-border-left-highlight--focus);
                  border-bottom: none;
                }
            }

    }
    ul li ul li a{
         padding-left: 45px;
    }

}

ilw-header-megamenu[compact] ilw-header-megamenu-section ilw-header-megamenu-section {
    border-bottom: none;
    --ilw-header-megamenu-section--transform: none;
    --ilw-header-megamenu-section--transform--selected: rotate(180deg);
    --ilw-header-megamenu--grid-template-columns: auto 51px;

    ul a, ul button {
        --ilw-header-megamenu-section--anchor--text-indent: 40px;
    }
}

ul > span[action], li > span[action], ul > img, li > img, ul li:nth-child(n+21){
    display: none
}

.no-border{
    border:none;
}